@import "./../../config", "./../../responsive";

.form-input {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px $text-color-primary;
  color: $text-color-secondary;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0;
  width: 65%;
}

::placeholder {
  color: $text-color-disabled;
}

input:valid {
  border-bottom: solid 2px #88ffcc;
  color: $text-color-secondary;
  @include transition-ease;
}