@import "./../../config";

.form-input {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px $text-color-primary;
  color: $text-color-secondary;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.3rem 0.5rem;
  width: calc(100vw - 11.5rem);
}

::placeholder {
  color: $text-color-disabled;
}
