@import "../../config";

.title {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 4rem;
  background: linear-gradient(
    to bottom,
    rgba($primary-color, 1),
    rgba($secondary-color, 1)
  );

  &__name {
    font-size: 2rem;
    padding: 1rem 1rem;
    margin-bottom: 0;
    font-weight: 300;
  }

  &__brand {
    font-weight: 700;
  }

  &__app-type {
    color: $text-color-secondary;
  }
}
