@import "../../config";

.title {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba($primary-color, 1),
    rgba($secondary-color, 1)
  );
  -moz-box-shadow:    0 5px 10px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.15);
  box-shadow:         0 5px 10px 4px rgba(0, 0, 0, 0.15);

  &__name {
    font-size: 2rem;
    padding: 1rem 1rem;
    margin-bottom: 0;
    font-weight: 300;
  }

  &__brand {
    font-weight: 700;
  }

  &__app-type {
    color: $text-color-secondary;
  }
}
