@import "config";

@include media-md {
  .todo-list, .form-control {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .form-button {
    font-size: 0.8rem;
    width: calc(30% - 1.5rem) !important;
  }
  .form-input {
    width: 70% !important;
  }
}

@include media-lg {
  .todo-list, .form-control {
    padding-left: 12%;
    padding-right: 12%;
  }
  .form-button {
    width: calc(20% - 1.5rem) !important;
  }
  .form-input {
    width: 80% !important;
  }
}

@include media-xl {
  .todo-list, .form-control {
    padding-left: 16%;
    padding-right: 16%;
  }
  .form-button {
    font-size: 0.8rem;
  }
  .form-button {
    width: calc(15% - 1.5rem) !important;
  }
  .form-input {
    width: 85% !important;
  }
}
