@import "./app/config";

/** Global Styling Rule Resets */
* {
  box-sizing: border-box;
  margin: 0 ;
  border: 0;
}

body {
  background: $tertiary-color;
  color: $text-color-primary;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1;
  padding: 0 !important;
}

::-webkit-scrollbar-track {
  padding: 2px 0;
  background: linear-gradient(
    to bottom,
    rgba($secondary-color, 1),
    rgba($primary-color, 1),
    rgba($secondary-color, 1)
  );
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba($secondary-color, 1),
    rgba($primary-color, 1),
    rgba($secondary-color, 1)
  );
  border-left: 2px solid $text-color-secondary;
}
